@import "tailwindcss";

/* Hide scrollbars globally */
*::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}
